{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Announcements</h3>
      <br>

      <h5>New VP of Management</h5>
      <p style="color: gray">3/22/2022<br>
        Rich Properties is pleased to announce the hiring of its new VP of Management, Eli Lemieux</p>
      <br>

      <h5>Madbury Commons set to perform better than expected</h5>
      <p style="color: gray">2/11/2022<br>
        The Madbury Commons project now is expected to produce returns of 21% rather than 17%</p>
      <br>

      <h5>Madbury Commons construction complete</h5>
      <p style="color: gray">1/07/2022<br>
        As of the end of last week, constrcution of the Madbury Commons property has been completed</p>

    </div>
    
  </div>
</div>
{% endblock %}
