{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Documents</h3>

      <p><a href="https://www.wingatecompanies.com/about-us/">Our core competencies (identical to Wingate Companies')</a></p>

      <p><a href="https://www.wingatecompanies.com/investments/">Information on our investing (identical to Wingate Companies')</a></p>

      <p><a href="https://www.wingatecompanies.com/acquisition-development/">Information on our development & acquisition (identical to Wingate Companies')</a></p>

      <p><a href="https://www.wingatecompanies.com/property-management/">Information on our property management (identical to Wingate Companies')</a></p>

      <p><a href="https://nhlegalaid.org/self-help-guides/housing/tenants-rights/tenants-rights">NH Housing Tenants' Rights (tenants - stay informed!)</a></p>
      <br>

    </div>
    
  </div>
</div>
{% endblock %}
