{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Documents</h3>

      <p><a href="https://www.wingatecompanies.com/about-us/">Our core competencies</a></p>

      <p><a href="https://www.wingatecompanies.com/investments/">Info on our investing</a></p>

      <p><a href="https://www.wingatecompanies.com/acquisition-development/">Info on our development and acquisition</a></p>

    </div>
    
  </div>
</div>
{% endblock %}
