{% extends "base.html" %}
{% block title %}<title>Events</title>{% endblock %}
{% set active_page = "events" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Events</h3>
      <br>

      <h5>Grand Re-Opening of Dover Skate Park</h5>
      <br>
      <img src="https://www.gannett-cdn.com/presto/2021/08/05/NFDD/330c9884-863a-4d4e-9a6c-f5e49928c582-skatepark-6.jpg?width=1600&height=887&format=pjpg&auto=webp" height="400px">
      <p style="color: gray">Saturday, April 2nd, 2022 at River St, Dover, NH 03820</p>
      <p>Rich Properties is proud to announce the grand re-opening of Dover Skate Park, our most recent community project!</p>
      <p>The company sponsored the renovation of this recreation area as part of its 1 Washington St, Dover property's community.</p>
      <p>Come join us to celebrate the improvement of the Dover community, and come skate with us!</p>
      <br>
    </div>
    
  </div>
</div>
{% endblock %}
