{% extends "base.html" %}
{% block title %}<title>Events</title>{% endblock %}
{% set active_page = "events" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Events</h3>

      <h5>Grand re-opening of Dover Skate Park</h5>
      <p><span style="color: gray">Saturday, April 2nd, 2022 at River St, Dover, NH 03820</span><br>
        Rich Properties is proud to announce the grand re-opening of Dover Skate Park, our most recent community project!</p>
      <p>The company sponsored the renovation of this recreation area as part of its 1 Washington St, Dover property's community.</p>
      <p>Come join us to celebrate the improvement of the Dover community, and come skate with us!</p>
      <br>
    </div>
    
  </div>
</div>
{% endblock %}
