{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Welcome</h3>

        <p>This is the official site of Rich Properties, a multifamily investment company based in Durham, New Hampshire. We excel at the acquisition, development, and management of multifamily assets ranging from duplexes to 200+ unit apartment communities.</p>

        <p>The company has over $2B in real estate under ownership and management, making it the largest real estate investment firm in New Hampshire's Seacoast region.</p>

        <p>At Rich Properties, we don't exist just to generate sizable returns for our investor-clients, but also to invest long-term in the communities in which our properties are located, by sponsoring community infrastructure projects and programming.</p>

      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>

        <p style="color: gray">12/15/2021</p>
        <p>Stakeholders of Rich Properties,</p>

        <p>I am proud to announce on behalf of the company our most recent development project, called Madbury Commons, a 300 unit A-minus class property located 1 minute from downtown Durham, New Hampshire. Our investors can expect to earn one-year cash-on-cash returns of 17%.</p>

        <p>Madbury Commons will become the home of several commercial tenants, including the burger joint Hop + Grind.</p>

        <p><em>- Jacob Rich, CEO</em></p>

      </div>
    </div>
  </div>
{% endblock %}